{% block name_widget %}
    {% if value is empty %}
        {% spaceless %}
            {{ block('form_widget') }}
        {% endspaceless %}
    {% else %}
        {{ value | trans }}
        <div style="display: none">
            {% spaceless %}
                {{ block('form_widget') }}
            {% endspaceless %}
        </div>
    {% endif %}
{% endblock %}


{% block variables_label %}
{% endblock %}
{% block variables_widget %}
    {% if value is not empty %}
        {% for variable in value %}
            <div style="margin: 2px;display: inline-block">
            <span class="label label-primary">
            {{ '{{' }}{{ variable }}{{ '}}' }}
            </span>


            </div>
        {% endfor %}
        <br>
        <div>{{ 'You can use these variables in the text' | trans }}</div>
        <div>{{ 'Example' | trans }}: lorem
            {{ '{{variable_here}}' }} ipsum
        </div>

    {% endif %}
    <div style="display: none">
        {% spaceless %}
            {{ block('collection_widget') }}
        {% endspaceless %}
    </div>
{% endblock %}